<h3>4. Write a Program to import the dataset from local disk , sklearn library and Kaggle API. </h3> <br>

<h3>A. Import a CSV and excel File into Python From local disk using Pandas: </h3> <br>
<p>
Step 1: Capture the File Path <br>
Step 2: Apply the Python code <br>
Step 3: Run the Code
</p>

In [6]:
#import CSV file
import pandas as pd
dataset= pd.read_csv("car.csv")
dataset.head(5)

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [7]:
#import excel file
import pandas as pd
dataset= pd.read_excel("T-shirt dataset.xls")
dataset.head(5)

   HEIGHT(IN CMS)  WEIGHT(IN KGS) T SHIRT SIZE
0             158              58            M
1             158              59            M
2             158              63            M
3             160              59            M
4             160              60            M

<h3>B. Dataset from Kaggle API</h3><br><h4>API - Application Programming Interface</h4> <br> which is a software intermediary that allows two applications to talk to each other. In other words, an API is the messenger that delivers your request to the provider that you're requesting it from and then delivers the response back to you. </h3>
<p><strong>Steps to Import a data from Kaggle API: </strong> <br>
</p>

Steps:
1. Create Kaggle account 
2. Get Your API (kaggle.json file)
3. Installing the kaggle library 
4. Upload your kaggle.json file
5. Configure some setups

In [8]:
#installing the kaggle library
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\dell\anaconda3\lib\site-packages (1.5.12)
Requirement already satisfied: python-slugify in c:\users\dell\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: python-dateutil in c:\users\dell\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: six>=1.10 in c:\users\dell\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in c:\users\dell\anaconda3\lib\site-packages (from kaggle) (2021.5.30)
Requirement already satisfied: tqdm in c:\users\dell\anaconda3\lib\site-packages (from kaggle) (4.62.3)
Requirement already satisfied: urllib3 in c:\users\dell\anaconda3\lib\site-packages (from kaggle) (1.26.6)
Requirement already satisfied: requests in c:\users\dell\anaconda3\lib\site-packages (from kaggle) (2.26.0)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\dell\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\dell\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\anaconda3\lib\site-packages (from requests->kaggle) (2.10)
Requirement already satisfied: colorama in c:\users\dell\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.4)

In [10]:
#API to fetch the dataset from kaggle
!kaggle datasets download -d schirmerchad/bostonhoustingmlnd

Downloading bostonhoustingmlnd.zip to C:\Users\dell\ML LAB

  0%|          | 0.00/4.35k [00:00<?, ?B/s]
100%|##########| 4.35k/4.35k [00:00<00:00, 2.23MB/s]

In [12]:
#Extract data the compressed data
from zipfile import ZipFile
dataset_path = 'bostonhoustingmlnd.zip'
with ZipFile(dataset_path, 'r') as zip:
  zip.extractall()

In [15]:
import pandas as pd
dataset=pd.read_csv('housing.csv')
dataset.head(5)

      RM  LSTAT  PTRATIO      MEDV
0  6.575   4.98     15.3  504000.0
1  6.421   9.14     17.8  453600.0
2  7.185   4.03     17.8  728700.0
3  6.998   2.94     18.7  701400.0
4  7.147   5.33     18.7  760200.0

<h3>C.Dataset import from sklearn library</h3>

In [26]:
from sklearn import datasets
from sklearn.datasets import load_digits
digits = load_digits()

In [27]:
print(digits.DESCR)

.. _digits_dataset:

Optical recognition of handwritten digits dataset
--------------------------------------------------

**Data Set Characteristics:**

    :Number of Instances: 1797
    :Number of Attributes: 64
    :Attribute Information: 8x8 image of integer pixels in the range 0..16.
    :Missing Attribute Values: None
    :Creator: E. Alpaydin (alpaydin '@' boun.edu.tr)
    :Date: July; 1998

This is a copy of the test set of the UCI ML hand-written digits datasets
https://archive.ics.uci.edu/ml/datasets/Optical+Recognition+of+Handwritten+Digits

The data set contains images of hand-written digits: 10 classes where
each class refers to a digit.

Preprocessing programs made available by NIST were used to extract
normalized bitmaps of handwritten digits from a preprinted form. From a
total of 43 people, 30 contributed to the training set and different 13
to the test set. 32x32 bitmaps are divided into nonoverlapping blocks of
4x4 and the number of on pixels are counted in each block. This generates
an input matrix of 8x8 where each element is an integer in the range
0..16. This reduces dimensionality and gives invariance to small
distortions.

For info on NIST preprocessing routines, see M. D. Garris, J. L. Blue, G.
T. Candela, D. L. Dimmick, J. Geist, P. J. Grother, S. A. Janet, and C.
L. Wilson, NIST Form-Based Handprint Recognition System, NISTIR 5469,
1994.

.. topic:: References

  - C. Kaynak (1995) Methods of Combining Multiple Classifiers and Their
    Applications to Handwritten Digit Recognition, MSc Thesis, Institute of
    Graduate Studies in Science and Engineering, Bogazici University.
  - E. Alpaydin, C. Kaynak (1998) Cascading Classifiers, Kybernetika.
  - Ken Tang and Ponnuthurai N. Suganthan and Xi Yao and A. Kai Qin.
    Linear dimensionalityreduction using relevance weighted LDA. School of
    Electrical and Electronic Engineering Nanyang Technological University.
    2005.
  - Claudio Gentile. A New Approximate Maximal Margin Classification
    Algorithm. NIPS. 2000.