<h3>3. Write a Program to handle missing value using fillna(), replace() and interpolate()</h3><br>

<p>
Pandas treat None and NaN as essentially interchangeable for indicating missing or null values. To facilitate this convention, there are several useful functions for detecting, removing, and replacing null values in Pandas DataFrame :
<li>fillna()</li>
<li>replace()</li>
<li>interpolate()</li>
</p>
<h3>1. fillna()</h3>

In [28]:
# importing pandas as pd
import pandas as pd

# importing numpy as np
import numpy as np

# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}

# creating a dataframe from dictionary
df = pd.DataFrame(dict)
# filling a missing value with previous ones
df1=df.fillna(method ='pad')
# filling a missing value with forward fill method
df2=df.fillna(method ='ffill')
# filling a missing value with backward fill method
df3=df.fillna(method ='bfill')
print(df1)
print("\n")
print(df2)
print("\n")
print(df3)

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2         90.0          56.0         80.0
3         95.0          56.0         98.0


   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2         90.0          56.0         80.0
3         95.0          56.0         98.0


   First Score  Second Score  Third Score
0        100.0          30.0         40.0
1         90.0          45.0         40.0
2         95.0          56.0         80.0
3         95.0           NaN         98.0

<h3>2. replace()</h3>

In [29]:
df
# will replace  Nan value in dataframe with value -99 
df.replace(to_replace = np.nan, value = -99)

   First Score  Second Score  Third Score
0        100.0          30.0        -99.0
1         90.0          45.0         40.0
2        -99.0          56.0         80.0
3         95.0         -99.0         98.0

<h3>3. Using interpolate() function to fill the missing values using linear method. </h3>

<h4>Interpolate the missing values using Linear method. Note that Linear method ignore the index and treat the values as equally spaced</h4>

In [30]:
# to interpolate the missing values
df.interpolate(method ='linear', limit_direction ='forward')

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2         92.5          56.0         80.0
3         95.0          56.0         98.0

<h3>4. Dropping missing values using dropna()</h3>

In [31]:
# importing pandas as pd
import pandas as pd

# importing numpy as np
import numpy as np

# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, np.nan, 45, 56],
        'Third Score':[52, 40, 80, 98],
        'Fourth Score':[np.nan, np.nan, np.nan, 65]}

# creating a dataframe from dictionary
df = pd.DataFrame(dict)
print(df)
#drop NaN value 
clean_data= df.dropna()
print("\nAfter DropNa():\n",clean_data)

   First Score  Second Score  Third Score  Fourth Score
0        100.0          30.0           52           NaN
1         90.0           NaN           40           NaN
2          NaN          45.0           80           NaN
3         95.0          56.0           98          65.0

After DropNa():
    First Score  Second Score  Third Score  Fourth Score
3         95.0          56.0           98          65.0